body {
  font-family: 'Arial', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
}


.App {
  background-image: url('https://wallpaperaccess.com/full/84248.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set the minimum height of the component to fill the viewport */
  min-width: 100vw; /* Set the minimum height of the component to fill the viewport */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Set a background color if needed */
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value to control the transparency */
}


.column {
  flex-grow: 1;
}

form {
  margin-bottom: 20px;
}

h1 {
  color: #5e6c84;
}

div {
  padding: 0px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div ul li {
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  background-color: #ebecf0;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

button {
  margin-top: 10px;
  color: white;
  background-color: #5aac44;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
}

button:hover {
  background-color: #519839;
}

button:active {
  background-color: #49852e;
}
